/* css styles */
.navbar-dark, .quarto-title-banner {
    background-color: #d3d3d3;
    color: #A52A2A;
}

.quarto-title-block {
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

h1.title {
  font-size: 28px;
}

a {
  color: blue;
}

a:hover {
  color: darkblue;
}
